<!-- <ion-view ng-controller="LoginController as logcntrl" class="light">

  <ion-content>
    hi
    <div class="list list-inset light top180">
      <label class="item item-input linegrey">
        <input type="text" class="linegrey white" placeholder="What is your nickname?" ng-model="lognctrl.nickname">
      </label>
      <button class="button button-block button-grey" ng-click="lognctrl.join()">Join</button>
    </div>
  </ion-content>
<ion-view> -->


  <ion-view view-title="Camera Page" id="cameraPage" ng-controller="cameraController">
    <ion-pane>
    <ion-content padding="true">
        <img ng-src="{{srcImage || &apos;img/test.jpg&apos;}}" id="srcImage" width="250 " height="250" style="display: block; margin: 0 auto;"><br>

        <button class="button button-full button-positive " ng-click="takeImage() ">Take Image</button><br>
        <button class="button button-full button-positive " ng-click="UploadImage() ">Upload</button><br>


        <div class="list ">
            <label class="item item-input">
                <span class="input-label">First Name:</span>
                <input type="text" name="name" value="John">
            </label>
            <label class="item item-input">
                <span class="input-label">Last Name:</span>
                <input type="text" name="name" value="Doe">
            </label>

        </div>
    </ion-content>
</ion-pane>

    <!-- <ion-content>
  	  <div class="list list-inset light top180">
  	  	<label class="item item-input linegrey" >
  	    	<input type="text" class="linegrey white" placeholder="What is your nickname?" ng-model="name.nickname">
  	  	</label>
        {{nickname}}
  	  	<button class="button button-block button-grey" ng-click="join()">Join</button>
  	  </div>
    </ion-content> -->
  </ion-view>
