

<ion-view>
    <ion-content id="loginPage">
      <div class="hero no-header flat">
          <div>
              <div class="app-logo"><span>together</span></div>
          </div>
      </div>
      <ion-md-input class="input-width" ng-model="data.name" placeholder="Your Name" highlight-color="calm" type="text"></ion-md-input>

      <div class="padding">
          <button class="button button-full button-stable ink" ng-click="logIn()" ng-disabled="!data.name">Enter</button>

      </div>

      <div class="padding">
        <button class="button button-full button-calm ink" ng-show="!loggedIntoTwitter" ng-click="logIntoTwitter()">Log into Twitter</button>
      </div>

      <button class="button button-royal button-block"><a class="item" href="#" onclick="window.open('http://192.168.2.54:5000/photoMosaic1', '_blank', 'location=yes'); return false;">
        Open a Browser {{photoIP}}
      </a></button>

      <!-- <button onclick="window.plugins.insomnia.keepAwake()">keep awake</button> -->
      <!-- <button onclick="window.plugins.insomnia.allowSleepAgain()">allow sleep again</button> -->
    </ion-content>
  </ion-view>
