<ion-content id="showPage" ng-style="{'background-color': itemColor}">
      <div>
          <div class="button button-block button-stable" ui-sref="cameraPage">Go to Camera page</div>
          <!-- <ion-view view-title="Login" id="changeColor"> -->

          <!-- <div class="button button-block button-stable" ng-click="goToMosaic()">Go to Mosaic</div> -->

          <a class="item" href="#" onclick="window.open('http://192.168.2.54:5000', '_blank', 'location=yes'); return false;">
                  Open a Browser {{photoIP}}
              </a>


          {{ message }}
          <h1 id="showText"> Boots and Cats</h1>

      </div>
</ion-content>
