  <ion-view>
    <ion-content id="stagingPage">
      <div>
        <p class="center-message"> Connected to the show... </p>
        <button style="margin-top:300px" class="button button-stable ink" ui-sref="settingsPage">settings</button>

      </div>
    </ion-content>
  </ion-view>

  <!-- keep this comment for now -->
  <!-- <a class="item" href="#" onclick="window.open('http://192.168.2.54:5000', '_blank', 'location=yes'); return false;">
                  Open a Browser {{photoIP}}
              </a> -->
