  <ion-view>
    <ion-content id="stagingPage">
      <div>
        <p class="center-message"> Connected to the show... </p>
      </div>
      <div style="margin-top:300px" layout="column">
        <!-- <button class="button button-stable ink" ui-sref="settingsPage">settings</button>
        <button class="button button-stable ink" ui-sref="mosaicsPage({data:[{ mosaicNum: 1, name: 'FunPhoto', mosaicURL: 'http://192.168.177.16:5000/#photoMosaic/1' }]})">Test to Mosaics</button> -->
        <button class="button button-balanced" ng-show="isLoggedIntoTwitter" ng-click="postStatusUpdate()">
          {{messageStatus}}
        </button>
      </div>
    </ion-content>
  </ion-view>

  <!-- keep this comment for now -->
  <!-- <a class="item" href="#" onclick="window.open('http://192.168.2.54:5000', '_blank', 'location=yes'); return false;">
                  Open a Browser {{photoIP}}
              </a> -->
